<form method="post" action="/sign_in">
    <input type="text" name="username" placeholder="Email for sign in" >
    <input type="password" name="password" placeholder="password" >
    <input type="submit" value="submit" />
</form>

<form method="get" action="/auth/google">
    <button type="submit" value="sign_in"> sign up with google</button>
</form>