<form method="post" action="/sign_in">
    <input type="text" name="username" placeholder="Email for sign in" >
    <input type="password" name="password" placeholder="password" >
    <input type="submit" value="submit" />
</form>