<form method="post" action="/sign_up">
    <input type="text" name="username" placeholder="Email" >
    <input type="password" name="password" placeholder="password" >
    <input type="submit" value="submit" />
</form>


<form method="get" action="/auth/google">
    <button type="submit" value="sign_up"> sign up with google</button>
</form>