<form method="post" action="/sign_up">
    <input type="text" name="email" placeholder="Email" >
    <input type="password" name="password" placeholder="password" >
    <input type="submit" value="submit" />
</form>